*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:linear-gradient(#244a7a,#1b3556);
  color:white;
  text-align:center;
  transition:0.3s;
}

header{
  padding:15px;
}

header nav{
  display:flex;
  justify-content:center;
  gap:10px;
  flex-wrap:wrap;
}

header a{
  color:white;
  text-decoration:none;
  font-size:14px;
}

#darkToggle{
  background:#f4b400;
  border:none;
  padding:5px 10px;
  border-radius:20px;
  cursor:pointer;
}

.hero{
  padding:30px 20px;
}

.profile-img{
  width:140px;
  border-radius:15px;
  margin-bottom:15px;
}

h1{
  font-size:26px;
}

.btn-group{
  margin-top:15px;
}

.btn{
  display:inline-block;
  padding:8px 15px;
  margin:5px;
  border-radius:20px;
  text-decoration:none;
  font-size:14px;
}

.resume{
  background:#1b3556;
  color:white;
  border:1px solid white;
}

.contact{
  background:#f4b400;
  color:black;
}

section{
  padding:30px 15px;
}

.card{
  background:white;
  color:black;
  padding:15px;
  border-radius:12px;
  margin:15px 0;
}

.blue{
  border-top:5px solid #244a7a;
}

.yellow{
  border-top:5px solid #f4b400;
}

.darkcard{
  background:#163253;
  color:white;
}

.project-card{
  background:white;
  color:black;
  padding:15px;
  border-radius:12px;
  margin:15px 0;
}

.small{
  background:#244a7a;
  color:white;
  font-size:12px;
}

footer{
  padding:15px;
  background:#0e1f33;
  font-size:14px;
}

/* DARK MODE */
.dark{
  background:#111;
  color:white;
}

.dark .card,
.dark .project-card{
  background:#222;
  color:white;
  }
