* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: white;
    transition: 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1f1f1f;
}

header h1 {
    font-size: 20px;
}

#modeToggle {
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    background: #00adb5;
    color: white;
    border-radius: 5px;
}

section {
    padding: 30px 20px;
    text-align: center;
}

.hero-img img {
    width: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.hero-text h2 {
    margin-bottom: 10px;
    color: #00adb5;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.skills ul {
    list-style: square;
    text-align: left;
    max-width: 400px;
    margin: auto;
    padding-left: 20px;
}

.projects {
    text-align: center;
}

.project-card {
    background: #1e1e1e;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #1f1f1f;
}

/* LIGHT MODE */

.light-mode {
    background: #f4f4f4;
    color: black;
}

.light-mode header,
.light-mode footer,
.light-mode .project-card {
    background: white;
}
