*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:linear-gradient(180deg,#1e3c72,#2a5298);
  color:white;
  text-align:center;
  transition:0.3s;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
  background:rgba(0,0,0,0.2);
}

.logo{
  font-weight:bold;
  font-size:18px;
}

#darkToggle{
  background:#ffc107;
  border:none;
  padding:5px 10px;
  border-radius:20px;
  cursor:pointer;
}

/* NAV */
.mobile-nav{
  display:flex;
  justify-content:center;
  gap:15px;
  padding:10px;
  background:rgba(0,0,0,0.15);
}

.mobile-nav a{
  text-decoration:none;
  color:white;
  font-size:14px;
}

/* HERO */
.hero{
  padding:30px 20px;
}

.profile-img{
  width:140px;
  border-radius:15px;
  margin-bottom:15px;
}

.hero h1{
  font-size:22px;
}

.hero h3{
  font-weight:400;
  margin:5px 0 10px;
}

.btn-group{
  margin-top:15px;
}

.btn{
  display:inline-block;
  padding:8px 15px;
  border-radius:20px;
  margin:5px;
  text-decoration:none;
  font-size:13px;
}

.resume{
  background:white;
  color:#1e3c72;
}

.contact{
  background:#ffc107;
  color:black;
}

/* SECTION */
.section{
  padding:30px 20px;
}

.light{
  background:white;
  color:black;
}

/* SKILLS */
.skills{
  margin-top:15px;
}

.skills span{
  display:inline-block;
  background:#1e3c72;
  padding:6px 12px;
  border-radius:20px;
  margin:5px;
  font-size:12px;
  color:white;
}

/* PROJECTS */
.project-card{
  background:white;
  color:black;
  padding:15px;
  margin:15px 0;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.project-card img{
  width:100%;
  border-radius:10px;
  margin-bottom:10px;
}

/* FOOTER */
footer{
  padding:15px;
  font-size:13px;
}

/* DARK MODE */
.dark{
  background:#111;
}

.dark .light{
  background:#222;
  color:white;
}

.dark .project-card{
  background:#222;
  color:white;
  }
